<!doctype html>
<style>
    body {
        font-family: 'Montserrat';font-size: 18px;
    }
    .navbar-nav > li{
      margin-left:30px;
      margin-right:0px;
    }
</style>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>VolunteerBuddy: Get the help you need, today!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style = "font-size: 18px">
        <div class="container-fluid">
        <a class="navbar-brand">VolunteerBuddy</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <li><a class="nav-link" href="/">Home</a></li>
              <li><a class="nav-link" href="/register">Register</a></li>
              <li><a class="nav-link" href="/login">Login</a></li>
              <li><a class="nav-link" href="/specialities">Specialities</a></li>
              <li><a class="nav-link" href="/help">Help Someone</a></li>
              <li><a class="nav-link active" aria-current="page" href="/bookings">See Bookings</a></li>
            </div>
          </div>
        </div>
      </nav>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Time Slot</th>
          </tr>
        </thead>
        <tbody>
            {% for t in bookings%}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{t[0]}}</td>
                <td>{{t[1]}}</td>
                <td>{{t[2]}}</td>
            </tr>
            {% endfor%}
        </tbody>
      </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
